/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Montserrat-Black.ttf");
}
html {
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  cursor: url("../res/cursors/default.svg"), auto;
}

*::before,
*::after {
  box-sizing: border-box;
}

picture img {
  width: 100%;
  height: auto;
}

body {
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.h1 {
  font-size: 3.5556em;
}

.h2 {
  font-size: 2.6667em;
}

.button {
  border: none;
  border-radius: 30px;
  background: #9c0332;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  padding: 13.3333px 74px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: url("../res/cursors/pointer.svg"), pointer;
}
.button:hover, .button:focus {
  background: rgb(235, 68, 63);
}

.play {
  padding-top: 233px;
  padding-bottom: 233px;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
.play_inverted {
  flex-flow: row-reverse;
}
.play__info {
  display: flex;
  flex-flow: column;
  gap: 32px;
  max-width: 584px;
}
.play__text {
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.play__banner {
  max-width: 485px;
}

.top {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url("../img/topbg.jpg"), lightgray 50%/cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top__content {
  padding-top: 217px;
}
.top__title {
  max-width: 788px;
}
.top__text {
  padding-top: 32px;
  max-width: 481px;
}
.top__button {
  margin-top: 44px;
}

.game {
  padding-top: 128px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(3, 378px);
  grid-template-rows: auto;
  grid-gap: 32px;
  justify-content: center;
}
.game-card {
  grid-column: span 1;
  height: 300px;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  cursor: url("../../res/cursors/pointer.svg"), pointer;
  border: 3px solid transparent;
}
.game-card:hover, .game-card:focus {
  border: 3px solid rgb(68, 210, 255);
}
.game-card__name {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 1.3333em;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.game-card_1 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("/img/game1.jpg"), lightgray 50%/cover no-repeat;
}
.game-card_2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("/img/game2.jpg"), lightgray 50%/cover no-repeat;
}
.game-card_3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url("/img/game3.jpg"), lightgray 50%/cover no-repeat;
}

@media (width <= 1250px) {
  .center {
    padding-left: 50px;
    padding-right: 50px;
  }
  .top {
    height: 880px;
  }
  .top__content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .top__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .top__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
  }
  .game {
    padding-top: 128px;
    padding-bottom: 128px;
    grid-template-columns: repeat(2, 378px);
  }
  .play {
    padding-top: 51px;
    padding-bottom: 51px;
    flex-flow: column;
    gap: 64px;
    align-items: center;
  }
  .play__info {
    max-width: none;
    align-items: center;
  }
  .play__title {
    text-align: center;
  }
  .play__text {
    text-align: center;
  }
}
@media (width <= 890px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__content {
    padding-top: 238px;
  }
  .h1 {
    font-size: 2em;
  }
  .game {
    grid-template-columns: repeat(1, 378px);
  }
  .play__title {
    font-size: 2em;
  }
  .play__text {
    font-size: 0.7778em;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
}
@media (width <= 425px) {
  .game {
    grid-template-columns: repeat(1, 1fr);
  }
  .game-card {
    background-size: cover;
    background-position: center;
  }
}/*# sourceMappingURL=index.css.map */